<!--Main bar -->
<div class="container-fullwidth" style="height: 3.5em;">
  <div class="row">
    <nav class="navbar navbar-expand-sm navbar-dark nav-pills
      shadow-md mb-5 bg-white fixed-top">
      <a href="#" class="navbar-brand text-primary" id="logo"> {{title}} </a>

      <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler navbar-toggler-right"
        type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div id="navbarSupportedContent" class="collapse navbar-collapse" [collapse]="!isCollapsed">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <!-- If you use href instead of routerlink it will reload the page to that url and restart all services -->
            <a class="nav-link" routerLink="/welcome"> {{staticTextLocal.get('welcome')}} </a>
          </li>
          <!-- dropdown for desktop version -->
          <li class="nav-item btn-group desktop" dropdown >
              <a class="nav-link "  routerLink="/blogs">{{staticTextLocal.get('blogs')}}</a>
              <a id="button-split" dropdownToggle
               class="nav-link dropdown-toggle dropdown-toggle-split"
               aria-controls="dropdown-split">
              </a>
              <ul id="dropdown-split" *dropdownMenu class="dropdown-menu"
                  role="menu" aria-labelledby="button-split">
                <li role="menuitem"  *ngFor="let serie of blogSeries">
                  <a class="dropdown-item" routerLink="/{{serie.url}}">{{serie.name}}</a>
                </li>
              </ul>
          </li>
          <!-- Accordion for mobile version -->
          <li class="nav-item mobile">
            <accordion class="nav-link bg-dark">
              <accordion-group heading="{{staticTextLocal.get('blogs')}}" panelClass="nav-link-dark">
                <ul>
                  <li role="menuitem"  *ngFor="let serie of blogSeries">
                    <a class="dropdown-item" routerLink="javascript:">{{serie}}</a>
                  </li>
                </ul>
              </accordion-group>
            </accordion>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/art"> {{staticTextLocal.get('art')}} </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/projects"> {{staticTextLocal.get('projects')}} </a>
          </li>
          <li class="nav-item nav-btn-group">
              <a href="javascript:" (click)="changeLanguage('en')">
                <img class="nav-btn-img" src="assets/uk_flag.svg" alt="English">
              </a>
              <a href="javascript:" (click)="changeLanguage('es')">
                <img class="nav-btn-img" src="assets/spain_flag_no_shield.svg" alt="Español">
              </a>
          </li>
        </ul>  
      </div>
    </nav>
  </div>
</div>

<!-- Router component placement of component-->
<router-outlet style="margin-bottom: 72px;"></router-outlet>

<!-- Footer for credits and social links-->
<footer class="fixed-bottom" style="max-height: 24px;">
  <!-- Credits -->
  <div class="bg-grey-off">Profile icons made by 
    <a href="https://www.freepik.com" title="Freepik">Freepik</a>
      from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 
    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    Social icons font:
    <a href="http://www.socicon.com" target="_blank" alt="Free social icons font" title="the social icons font">socicon</a>
  </div>
</footer>