<div class="home-container">
  <section  id="welcome"
            class="text-white text-center bg-welcome"
            style="padding: 1rem;">
   <img class="img-fluid mb-5 d-block mx-auto"
    src="assets/profile.svg" alt="" style="width: 256px;">
    <h1 class="text-uppercase mb-0">
      Pablo Narvaja's Web-Page
    </h1>
    
    <hr class="star-light">
    
    <h2 class="font-weight-light mb-0">
      Game Tools Developer - 3D Artist - Web Developer
    </h2>
    
    <hr class="star-light">
    
    <h4 class="font-weight-light">
      {{welcome_text}}
    </h4>
    <button class="btn btn-warning">
      <a href="#"></a>
      Lets start!
    </button>
  </section>

  <section  id="last-blogs">

  </section>

  <section  id="last-art">
    
  </section>

  <section  id="current-projects">
    
  </section>
  
  <!-- Programs and languages icons -->
  <section  id="useful-links">
      <!-- Visual Studio Code -->
      <a href="https://code.visualstudio.com/"
      title="Visual Studio Code - Text Editor">
      <img class="mr-md-5 mr-3"  alt="VisualStudioCode" style="width: 2rem;"
        src="assets/VS_Code_1.18.svg">
      </a>
      <!-- Visual Studio IDE -->
      <a href="https://code.visualstudio.com/"
      title="Visual Studio Community - IDE">
      <img class="mr-md-5 mr-3"  alt="VisualStudioCommunity" style="width: 2rem;"
        src="assets/VS_2017_Logo.svg">
      </a>
      <!-- Blender -->
      <a href="https://www.blender.org"
      title="Blender 3D - modeling tool">
        <img class="mr-md-5 mr-3" alt="Blender3D" style="width: 2rem;"
        src="assets/blender3d.svg">
      </a>
      <!-- GIMP -->
      <a href="https://www.gimp.org/"
      title="GIMP - Image manipulation tool">
        <img class="mr-md-5 mr-3"  alt="GIMP" style="width: 2rem;"
        src="https://upload.wikimedia.org/wikipedia/commons/4/45/The_GIMP_icon_-_gnome.svg">
      </a>
      <!-- Inkscape -->
      <a href="https://inkscape.org/"
      title="Inskape- SVG tool">
      <img class="mr-md-5 mr-3"  alt="Inkscape" style="width: 2rem;"
        src="https://inkscape.org/es/gallery/item/1076/Inkscape_Logo_Standard_square.svg">
      </a>
      <!-- Credits to freepik -->
      <a href="https://www.freepik.com"
        title="Icon by Freepik">
          <img class="mr-md-5 mr-3"
          src="assets/profile.svg" alt="Freepik's_Icons" style="width: 2rem;">
      </a>
  </section>
</div>