<div class="fill-screen bg-welcome">
  <div class="container text-white text-center" style="padding: 1rem;">
    <img class="img-fluid mb-5 d-block mx-auto"
    src="assets/profile.svg" alt="" style="width: 20rem;">
    <h1 class="text-uppercase mb-0">
      Pablo Narvaja's Web-Page
    </h1>
    
    <hr class="star-light">
    
    <h2 class="font-weight-light mb-0">
      Game Tools Developer - 3D Artist - Web Developer
    </h2>
    
    <hr class="star-light">
    
    <h4 class="font-weight-light">
      {{welcome_text}}
    </h4>
    <button class="btn btn-warning">
      <a href="#"></a>
      Lets start!
    </button>
  </div>
</div>