<div class="list-container">
  <div class="list-bg">
    <h3 class="text-center text-uppercase"> Projects </h3>

    <hr>

    <div class="card" style="margin: 5px;">
      <div class="row ">
        <div class="col-md-4">
          <img src="../../assets/bg_welcome.jpg" class="w-100" style="padding:3px; border-radius: 10px;">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title">{{previews[0].title.value}}</h4>
            <div style="position: absolute; bottom: 5px; right: 48px;">
              <small>{{previews[0].date.datetime.toLocaleDateString()}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="shadow-gradient"></div>
  </div>
</div>