.list-container {
    position: fixed;
    min-width: 50rem;
    left: 25%;
    right: 25%;
    height: auto;
    top: 4rem;
    bottom: 24px;
}

.list-bg {
    background: white !important;
    border-style: solid;
    border-width: .2rem;
    border-color: orange;
    border-radius: .2rem;
    height: 100%;
    h3 {
        color: black;
    }
}

.shadow-gradient {
    display: block;
    position: fixed;
    bottom: 24px;
    right: 25%;
    left: 25%;
    background: linear-gradient(to top, #444, transparent);
    height: 100px;
}