/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$gray-200: #e9ecef !important;
$gray-900: #212529 !important;
$orange:  #fd7e14 !important;
$body-bg: #1A1B1D !important;

$font-family-sans-serif:      "Raleway", Roboto, "Helvetica Neue", Arial, sans-serif;

body {
    background: $body-bg;
}

.text-primary
{
    color:$gray-200;
}

.navbar {
    width: 100%;
    background:  rgb(46, 46, 46) !important;

    @media(max-width: 36em) {
        background: black !important;

    }
    .navbar-toggler {
        cursor: pointer;
        outline: 0;
    }
    .nav-link {
        text-transform: uppercase;
        font-weight: bold;
    }
    .nav-link:active, .nav-link:hover {
        color: orange;
    }
    .nav-item {
        padding: 0 1rem;
        @media(max-width: 36em){
            padding: 0;
        }
        .nav-link {
            @media(max-width: 36em){
                font-weight: bold;
                color: white !important;
            }
        }
    }
}

.bg-dark
{
    background:$body-bg;
}

.bg-orange
{
    background:$orange;
}